@model IEnumerable<Post>
@{

}
<h1>Home Page</h1>

<img src="~/content/static/IMG_5175.jpg" alt="Nature pic" width="600" />
<div>
	<ul>
		@foreach (var post in Model)
		{

			<li>
				<a asp-controller="Home" asp-action="Post" asp-route-id="@post.ID">
					@post.Title
				</a>				
			</li>			
		}
	</ul>
</div>
