@model Post
@{

}
<h1>Post</h1>
<div>
	<p>@Model.Title</p>

	@if (!string.IsNullOrEmpty(Model.Image))
	{
		var image_path = $"/image/{Model.Image}";
		<img src="@image_path" alt="Some pic" width="500" />
	}
	<p>@Model.Body</p>
	<br />
	<a asp-controller="Panel" asp-action="Edit" asp-route-id="@Model.ID">
		Edit
	</a>
</div>
