body {
    margin: 0;
    background-color: #060813;
    color: #fafafa;
}

a {
    color: white;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }


nav {
    background-color: #060813;
    height: 50px;
    width: 100%;
    text-align: center;
    font-size: 120%
}

    nav a {
        display: inline-block;
        padding: 15px;
    }

.main-img {
    position: relative;
    height: 500px;
    background-image: url(../content/static/pexels-lumn-167699.jpg);
    background-position: center;
    background-size: cover;
}

.title {
    position: absolute;
    color: white;
    font-size: 300%;
    left: 50%;
    transform: translateX(-50%);
    top: 45%;
    text-shadow: 0 0 6px black;
}

.container {
    max-width: 800px;
    width: 100%;
    margin: auto;
}

.post {
    margin: 10px;
    position: relative;
    display: flex;
    height: 400px;
}

    .post img {
        width: 100%;
        object-fit: cover;
    }

post-body {
    margin: -5px 5px 0;
    padding: 20px 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.pages {
    text-align: center;
    margin: 15px 0px 0px 15px
}

.current-page {
    color: red;
}
